<div>
	<md-content layout-padding>
		<div id="gameContainer" style="margin: 0; padding: 0; background: transparent;">
			<canvas id="canvas"></canvas>
		</div>
	</md-content>
	<div id="psl-container">
		<psl-video ng-show="$ctrl.showFace"></psl-video>
		<psl-info></psl-info>
	</div>
</div>
<script src="unity/TemplateData/UnityProgress.js"></script>
<script src="unity/Build/UnityLoader.js"></script>
