page-home div {
	margin: 0 auto;
}

page-home sugar-login .button-container {
	text-align: center;
}

#psl-container {
	position: absolute;
    right: 0;
    top: 0;
    width: 640px;
    z-index: 10;
    background-color: #000000;
    opacity: 0.9;
    color: white;
    display: flex;
    flex-direction: column;
}