<div>
	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<psl-title default="GAME"></psl-title>
			<md-button ng-click="$ctrl.toggleTrackVoice()" ng-disabled="$ctrl.TrackingDisabled()" class="md-raised">
				{{$ctrl.trackVoice ? "Stop" : "Start"}} Voice Tracking
			</md-button>
			<md-button ng-click="$ctrl.toggleTrackFace()" ng-disabled="$ctrl.TrackingDisabled()" class="md-raised">
				{{$ctrl.trackFace ? "Stop" : "Start"}} Face Tracking
			</md-button>
			<psl-status />
		</div>
	</md-toolbar>
	<md-content layout-padding>
		<div id="gameContainer" style="margin: 0; padding: 0; background: transparent;">
			<canvas id="canvas"></canvas>
		</div>
	</md-content>
	<div id="psl-container">
		<psl-video ng-show="$ctrl.showFace"></psl-video>
		<psl-info></psl-info>
	</div>
</div>
<script src="unity/TemplateData/UnityProgress.js"></script>
<script src="unity/Build/UnityLoader.js"></script>
