<div>
	<md-toolbar md-scroll-shrink>
		<div class="md-toolbar-tools">
			<psl-title default="GAME" suffix="- DEMO LESSONS"></psl-title>
		</div>
	</md-toolbar>
	<md-content layout-padding>
		<md-list flex>
			<md-list-item class="md-2-line" ng-repeat="lesson in $ctrl.lessonList">
				<div class="md-list-item-text" layout="column">
					<h3>Lesson: {{ lesson.id }}</h3>
					<md-list flex class="md-dense">
						<md-list-item class="md-1-line" ng-repeat="group in lesson.groups">
							<div class="md-list-item-text" layout="column">
								<p>GameInstance: {{ group.id }}</p>
								<md-list flex class="md-dense">
									<md-list-item class="md-1-line" ng-repeat="player in group.players" ng-click="$ctrl.SelectIdentity(group.id, player.id, player.name)">
										<div class="md-list-item-text" layout="column">
											<p><b>{{ player.name }}</b></p><p>{{ player.id }}</p>
										</div>
									</md-list-item>
								</md-list>
							</div>
						</md-list-item>
					</md-list>
				</div>
			</md-list-item>
		</md-list>
	</md-content>
</div>