<md-button ng-click="$ctrl.setState(4)" ng-disabled="$ctrl.startDisabled()" class="md-raised" >Start Game</md-button>
<md-button ng-click="$ctrl.setState(5)" ng-disabled="$ctrl.pauseDisabled()" class="md-raised" >Pause Game</md-button>
<md-button ng-click="$ctrl.setState(6)" ng-disabled="$ctrl.stopDisabled()" class="md-raised" >Stop Game</md-button>