psl-video {
    height: 240px;
}

#pslVideoInput {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 320px;
    height: 240px;
    background-color: blue;
}

#pslVideoOutput {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 320px;
    height: 240px;
    background-color: green;
}